.custom-dark {
  background-color: #1c1d20 !important;
}

.border-50 {
  border-radius: 30px !important;
}

.chart-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 200px !important;
  width: 200px;
  height: 200px;
  border: 1px solid #47cff8 !important;
}

.text-color-custom {
  color: #47cff8;
}

.bg-custom {
  background-color: #47cff8 !important;
}

.btn-custom {
  background-color: #202025 !important;
}

.bg-dark {
  background-color: #22252a !important;
}

.border-custom {
  border: 1px solid #47cff8 !important;
}
